/* Завдання 1 */
h3:first-of-type {
    color: pink;
}

#grey {
    color: grey;
}

#red {
    color: red;
}

p:nth-of-type(4) {
    color: green;
}

p.yellow {
    color: yellow;
}

th,td {
    border: solid rgb(221, 228, 18);
}



td:nth-child(n+2){
    border-color: rgb(91, 115, 255);
   color: rgb(26, 255, 0);
   font-size: 30px;
}


